In [20]:
import pandas as pd
import numpy as np

In [21]:
df = pd.read_csv("ofertas_infojobs.csv")
df

                                                     url
0      https://www.infojobs.net/santander/data-scient...
1      https://www.infojobs.net/madrid/tecnico-data-s...
2      https://www.infojobs.net/madrid/data-science-l...
3      https://www.infojobs.net/madrid/data-scientist...
4      https://www.infojobs.net/barcelona/data-scient...
...                                                  ...
10046  https://www.infojobs.net/madrid/arquitecto-sol...
10047  https://www.infojobs.net/madrid/programador-fr...
10048  https://www.infojobs.net/madrid/desarollador-j...
10049  https://www.infojobs.net/valencia/programador-...
10050  https://www.infojobs.net/girona/tecnico-inform...

[10051 rows x 1 columns]

In [23]:
df.duplicated().sum()

np.int64(0)